#botao2019>rect {
    fill:black;
}
#botao2019>text {
    fill: white;
}

#botao2019small>text {
    fill: grey;
}

.imagem {
    width:78%;
    margin: 50px auto;
    transition: width 0.2s;
}
.imagem>a>img {
    width: 100%;
}
.imagem:hover {
    width: 80%;
}