#botaocontactos>rect {
    fill:black;
}
#botaocontactos>text {
    fill: white;
}

#botaocontactossmall>text {
    fill: grey;
}

div {
    margin:200px auto;
    width:40%;
    padding:50px;
    text-align: center;
    border-radius: 5px;
    border: 10px solid black;
}

@media screen and (max-width:768px) {
    div {
        width:80%;
    }
}