#botaointervenientes>rect {
    fill:black;
}
#botaointervenientes>text {
    fill: white;
}

#botaointervenientessmall>text {
    fill: grey;
}

/* propriedades */
.imagem {
    width:44%;
    height:auto;
    margin-right: 10%;
    float:left;
    transition: width 0.2s;
}
.texto {
    width:45%;
    height:100%;
    padding-bottom: 50px;
    display:inline-block;
}
/* hover imagens */
.imagem:hover {
    width:45%;
}
/* carousel */
.carousel.slide {
    margin:50px auto;
    padding-left:10%;
    padding-right:10%;
    width:100%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #919191;
}
.carousel-indicators .active {
    background-color: black;
}
.carousel-indicators {
    left:40%;
}
.carousel-control-prev-icon {
    background-image: url("../media/carousel-left.svg");
}
.carousel-control-next-icon {
    background-image: url("../media/carousel-right.svg");
}

/* ---- */
@media screen and (max-width:768px) {
    .imagem {
        width:98%;
        height:auto;
    }
    .texto {
        margin-top: 30px;
        width:100%;
    }
    .título {
        margin-bottom: 20px;
    }
    .carousel.slide {
        padding-left:15%;
        padding-right:15%;
    }
    .carousel-indicators {
        left:0;
    }
    .imagem:hover {
        width:100%;
    }
}
