#botaolocais>rect {
    fill:black;
}
#botaolocais>text {
    fill: white;
}

#botaolocaissmall>text {
    fill: grey;
}

.grid {
    margin: 50px 4%;
}
.row {
    margin-bottom:5%;
}

.imagem {
    width:95%;
    transition: width 0.2s;
}
.imagem:hover {
    width:100%;
}
